@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&family=Montserrat:wght@300;400;500;600&family=Playfair:wght@400;500;600&display=swap');


/* 
font-family: 'Josefin Sans',sans-serif; 400 600
font-family: 'Montserrat', sans-serif; 300 400 500 600
font-family: 'Playfair', serif; 400 500 600
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}